/* 颜色 */
.cl1{color:rgb(181, 58, 58);}
.cl2{color: black;}
.cl3{color: rgb(109, 109, 117);}
.cl4{color: white;}
/* 大小 */
.fs1{font-size:200px;}
.fs2{font-size: 100px;}
/* 粗细 */
.fw{font-weight:600;}
/* 楷体 */
.ff{font-family:cursive;}
p>em{color: red;}
.sj{ text-indent:2em ;}
.box1{
    display: flex;
    flex-direction: column;
    width:auto;
    height: auto;
    border: 0px;
    margin: 5px;
    padding: 0px;
    background-color:rgba(223, 211, 211, 0.539) ;
}
.box3{
    display: flex;
    flex-direction: row;
    width:100%;
    height: fit-content;
    border: 1px;
    border-color: rgba(0, 0, 0, 0.395);
    margin:0px;
    padding: 0px;
    background-image:linear-gradient(white, rgba(96, 95, 95, 0.201));
}
.box3_1{
    width: 90%;
    height: auto;
    margin:0px;
    padding: 4px;
}
.box3_2{
    width: 5%;
    height: auto;
    margin:0px;
    padding: 4px;
}.box3_3{
    width: 5%;
    height: auto;
    margin:0px;
    padding: 4px;
    text-align: center;
}
.box2{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color:white ;
}
.sp3{
    width:6%;
    height: auto;
    padding: 0px;
    margin: 0px;
    border: 0px;
    /* background-image: url(./zhongguojie2.jpg);
    background-size: 100%; */
}
/* 图片自适应 */
.pic {
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}
.sp4{
    width: 54%;
    height: auto;
    padding: 10px;
    background-color: white;
    margin-top: 20px;
}
.sp5{
    width: 40%;
    height: auto;
    padding: 10px;
    background-color: rgb(255, 0, 0);
    margin-top: 30px;
}
.box4{
    display: flex;
    width: 100%;
    height: 50px;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color:rgb(179, 55, 55) ;
}
.box4_1{   
    width: 14%;
    height: 50px;
    margin:0px;
    text-align: center;
    padding-top: 12px;
}
.box_mh{
    width:100%;
    height: 300px;
    padding: 0px;
    border: 0px;
    margin-top: 20px;
    background-color: white;
}
.box_mh_tu{
    width:50%;
    height: 300px;
    padding: 0px;
    border: 0px;
    margin: 20px;
    background-color: white;
}